{% extends "basepnc.html" %}

{% block conteudo %}
<div class="container marrom p-3 my-5 rounded-3">
<h1 class="text-light">Novo evento</h1>
<hr>
<form method="post">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Escreva o título aqui" autofocus>
        <label for="titulo">Título</label>
        <span class="text-danger d-none small"></span>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="imagem" name="imagem" placeholder="Escreva o link da imagem aqui" autofocus>
        <label for="imagem">Imagem</label>
        <span class="text-danger d-none small"></span>
    </div>
    <div class="form-floating mb-3">
        <textarea class="form-control" placeholder="Escreva a descrição aqui" id="descricao" name="descricao" style="height: 100px"></textarea>
        <label for="descricao">Descrição</label>
        <span class="text-danger d-none small"></span>
    </div>
    <div class="mb-3 text-end">
        <a href="/evento/listagem" class="btn btn-danger me-2 text-light">Cancelar</a>
        <button class="btn btn-success text-light" type="submit">Salvar</button>
    </div>
</form>
</div>
{% endblock %}