<!-- /templates/main/apoio.html -->
{% extends "basepnc.html" %}

{% block conteudo %}

<div class="text-center">
    <h1 class="text-white py-4"> Apoio </h1>
</div>

<main class="container">
    <div class="row row-cols-1 row-cols-md-3 mb-5 text-center">
      <div class="col">
        <div class="card mb-3 rounded-3 shadow-sm marrom text-white mx-3">
          <div class="card-header py-3 verde text-white">
            <h5 class="my-0 fw-normal">Apoio com IA</h5>
        </div>
        <div class="card-body">
            <img src="/static/img/ps1.jpg" class="my-1 border border-light-subtle  w-75 w-75 rounded-2">
            <p class="my-0 fs-6 py-3 mb-0">Desenvolvida especificamente para auxiliar pessoas durante o luto. Em parceria com a funerária Pé na Cova, essa IA inovadora busca oferecer conforto e orientação a indivíduos que passam por essa difícil jornada.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-3 rounded-3 shadow-sm marrom text-white mx-3">
          <div class="card-header py-3 verde text-white">
            <h5 class="my-0 fs-5 fw-normal">Apoio com Psicólogo</h5>
          </div>
          <div class="card-body">
            <img src="/static/img/ps2.jfif" class="my-1 border border-light-subtle w-75 w-75 rounded-2">
            <p class="my-0 fs-6 py-3 mb-0">O apoio psicológico presencial oferece um ambiente seguro e acolhedor, permitindo que os indivíduos expressem suas emoções, compreendam o processo de luto e encontrem caminhos para a cura. Com os melhores da área.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-3 rounded-3 shadow-sm marrom text-white mx-3">
          <div class="card-header py-3 verde text-white">
            <h5 class="my-0 fw-normal">Psicólogo Familiar</h5>
          </div>
          <div class="card-body">
            <img src="/static/img/ps3.jfif" class="my-1 border border-light-subtle w-75 w-75 rounded-2">
            <p class="my-0 fs-6 py-3 mb-0">Um apoio psicológico familiar com um profissional especializado pode ser uma estratégia eficaz para fortalecer os vínculos familiares, promover a comunicação aberta e enfrentar o processo de luto.</p>
          </div>
        </div>
      </div>
    </div>
    
{% endblock %}