{% extends "basepnc.html" %}

{% block conteudo %}

<div class="text-center">
    <h1 class="text-white py-4"> Planos </h1>
</div>

<main class="container">
    <div class="row row-cols-1 row-cols-md-3 mb-5 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm marrom text-white mx-3">
          <div class="card-header py-3 verde text-white">
            <h4 class="my-0 fw-normal">Ossada</h4>
          </div>
          <div class="card-body">
            <h4 class="card-title pricing-card-title py-2 my-0">R$39,99<small>/mês</small></h4>
            <a href="/plano1pagar" class="text-decoration-none text-white"> <button type="button" class="w-50 btn btn-sm btn-success text-white mb-3"> Assinar </button></a>
            <img src="/static/img/plano1.jpg" class="card-img w-75 w-75 border border-light-subtle">
            <ul class="list-unstyled mt-3 mb-4">
              <li>Higienização simples</li>
              <li>Traslado de até 50km</li>
              <li>Caixões simples</li>
              <li>Apoio com IA</li>
            </ul>
            <a href="/plano1" class="text-decoration-none text-white"> <button type="button" class="w-100 btn btn-lg btn-success text-white"> Ver mais </button> </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm marrom text-white mx-3">
          <div class="card-header py-3 verde text-white">
            <h4 class="my-0 fw-normal">Carniça</h4>
          </div>
          <div class="card-body">
            <h4 class="card-title pricing-card-title py-2 my-0">R$69,99<small>/mês</small></h4>
            <a href="/plano2pagar" class="text-decoration-none text-white"> <button type="button" class="w-50 btn btn-sm btn-success text-white mb-3"> Assinar </button></a>
            <img src="/static/img/plano2.jpg" class="card-img w-75 w-75 border border-light-subtle">
            <ul class="list-unstyled mt-3 mb-4">
              <li>Higienização e tanatopraxia</li>
              <li>Traslado de até 100km</li>
              <li>Caixões especiais</li>
              <li>Apoio com psicólogo</li>
            </ul>
            <a href="/plano2" class="text-decoration-none text-white"> <button type="button" class="w-100 btn btn-lg btn-success text-white"> Ver mais </button> </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 shadow-sm marrom text-white mx-3">
          <div class="card-header py-3 verde text-white">
            <h4 class="my-0 fw-normal">Podridão</h4>
          </div>
          <div class="card-body">
            <h4 class="card-title pricing-card-title py-2 my-0">R$119,99<small>/mês</small></h4>
            <a href="/plano3pagar" class="text-decoration-none text-white"> <button type="button" class="w-50 btn btn-sm btn-success text-white mb-3"> Assinar </button></a>
            <img src="/static/img/plano3.jpg" class="card-img w-75 w-75 border border-light-subtle">
            <ul class="list-unstyled mt-3 mb-4">
              <li>Tanatopraxia e tematização</li>
              <li>Traslado de até 150km</li>
              <li>Caixões exclusivos</li>
              <li>Apoio familiar com psicólogo</li>
            </ul>
            <a href="/plano3" class="text-decoration-none text-white"> <button type="button" class="w-100 btn btn-lg btn-success text-white"> Ver mais </button> </a>
          </div>
        </div>
      </div>
    </div>
    <div class="table-responsive py-3">
        <table class="table table-brown rounded-3 overflow-hidden text-center table-striped-columns table-hover table-borderless">
          <thead>
            <tr>
              <th style="width: 34%;"></th>
              <th style="width: 22%;">Ossada</th>
              <th style="width: 22%;">Carniça</th>
              <th style="width: 22%;">Podridão</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" class="text-start text-center">Carência de 60 dias</th>
              <td class="bi bi-check"></td>
              <td class="bi bi-check"></td>
              <td class="bi bi-check"></td>
            </tr>
            <tr>
              <th scope="row" class="text-start text-center">Apoio com IA</th>
              <td class="bi bi-check"></td>
              <td class="bi bi-check"></td>
              <td class="bi bi-check"></td>
            <tr>
              <th scope="row" class="text-start text-center">Apoio com psicólogo</th>
              <td></td>
              <td class="bi bi-check"></td>
              <td class="bi bi-check"></td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th scope="row" class="text-start text-center">Eventos exclusivos</th>
              <td></td>
              <td class="bi bi-check"></td>
              <td class="bi bi-check"></td>
            </tr>
            <tr>
              <th scope="row" class="text-start text-center">Todos os caixões disponíveis</th>
              <td></td>
              <td></td>
              <td class="bi bi-check"></td>
            </tr>
          </tbody>
        </table>
      </div>
{% endblock %}