{% extends "basepnc.html" %}

{% block conteudo %}

<div class="text-center">
    <h1 class="text-white py-4"> Plano Ossada </h1>
</div>

<main>
    <div class="justify-content-center text-center mb-5">
        <img src="/static/img/plano1.jpg" class="w-25 w-25 border border-light-subtle rounded-3 shadow">
    </div>
    <div class="container text-white">
        <h4 class="marrom_texto">Sobre:</h4>
        <p>
            O plano Ossada é o nosso plano mais simples que caberá perfeitamente no seu bolso! É o nosso plano mais econômico, perfeito pra você que deseja gastar menos.
        </p>
        <p>
            Este plano fornece traslado de até 50km, higienização e preparação simples do nosso presunto, além do evento mais tradicionais e já conhecido nos típicos velórios. Também será possível escolher um de nossos básicos, porém elegantes, caixões.
        </p> 
        <p>
            Sabemos como é difícil a perda de um ente querido, pensando nisso, nosso plano possui integração com uma inteligência artificial que poderá te auxiliar neste momento de grande pesar. Ideal para desabafar e escutar as melhores frases motivacionais e de conforto.
        </p>
        <h4 class="marrom_texto">Urnas:</h4>
        <ul class="list-unstyled mt-1">
            <li>Biodegradável</li>
            <li>Madeira</li>
          </ul>
        <h4 class="marrom_texto">Apoio:</h4>
        <ul class="list-unstyled mt-1">
            <li>Apoio com inteligência artificial (IA)</li>
          </ul>
        <h4 class="marrom_texto">Coroa de flores:</h4>
        <ul class="list-unstyled mt-1">
            <li>Coroa de flores diversas (padrão)</li>
          </ul>
        <h4 class="marrom_texto">Eventos</h4>
        <ul class="list-unstyled mt-1">
            <li>Evento padrão</li>
          </ul>
        <h4 class="marrom_texto">Outras vantagens:</h4>
        <ul class="list-unstyled mt-1">
            <li>Higienização e preparação simples do falecido</li>
            <li>Traslado de até 50km</li>
            <li>Carência de 60 dias</li>
        </ul>
    </div>
    
</main>
    

{% endblock %}