{% extends "basepnc.html" %}

{% block conteudo %}

<div class="text-center">
    <h1 class="text-white py-4"> Plano Podridão </h1>
</div>

<main>
    <div class="justify-content-center text-center mb-5">
        <img src="/static/img/plano3.jpg" class="w-25 w-25 border border-light-subtle rounded-3 shadow">
    </div>
    <div class="container text-white">
        <h4 class="marrom_texto">Sobre:</h4>
        <p>
            O Plano Esqueleto Rei é o nosso plano mais completo e especial, perfeito para você que quer esbanjar até no dia de sua morte.
        </p>
        <p>
            Este plano fornece traslado de até 150km, higienização com direito a tanatopraxia, além de uma confecção especial do falecido, que pode ser ornamentado referente ao evento escolhido para a celebração de sua partida.
        </p> 
        <p>
            O Plano Esqueleto Rei é único, e lhe garante os mais finos e elegantes paletós de madeira, que surpreenderão a todos e lhe garantirá um descanso de um verdadeiro faraó. Você poderá escolher qualquer um de nossos eventos de despedida, dos mais finos e elegantes, aos mais engraçados que farão os convidados rirem e relembrarem dos bons momentos que viveram juntos.
        </p>
        <p>
            O nosso plano mais exclusivo garantirá a você e a sua família consultas com o melhor de nossos psicólogos, com técnicas de terapia de luto e até terapia familiar. Criando10 assim o fim do luto e a celebração de boas memórias.
        </p>
        <h4 class="marrom_texto">Urnas:</h4>
        <ul class="list-unstyled mt-1">
            <li>Biodegradável</li>
            <li>Madeira</li>
            <li>Pedra</li>
            <li>Inox</li>
            <li>Bronze</li>
          </ul>
        <h4 class="marrom_texto">Apoio:</h4>
        <ul class="list-unstyled mt-1">
            <li>Apoio com inteligência artificial (IA)</li>
            <li>Apoio com psicólogo</li>
            <li>Apoio familiar com psicólogo</li>
          </ul>
        <h4 class="marrom_texto">Coroa de flores:</h4>
        <ul class="list-unstyled mt-1">
            <li>Coroa de flores diversas (padrão)</li>
            <li>Coroa de margaridas</li>
            <li>Coroa de rosas vermelhas</li>
          </ul>
        <h4 class="marrom_texto">Eventos</h4>
        <ul class="list-unstyled mt-1">
            <li>Evento padrão</li>
            <li>Evento Game Over</li>
            <li>Evento boleiros do além</li>
            <li>Evento morte à fantasia</li>
            <li>Evento último jantar</li>
            <li>Evento volta ao mundo</li>
            <li>Evento show de matar</li>
          </ul>
        <h4 class="marrom_texto">Outras vantagens:</h4>
        <ul class="list-unstyled mt-1">
            <li>Tanatopraxia e confecção especial do falecido</li>
            <li>Traslado de até 150km</li>
            <li>Carência de 60 dias</li>
          </ul>
    </div>
    
    
</main>
    

{% endblock %}