{% extends "basepnc.html" %}

{% block conteudo %}

<div class="text-center">
    <h1 class="text-white py-4"> Urna inox </h1>
</div>

<div class="container">
    <div class="text-left">
            <div class="row">
                <div class="col-md-6">
                    <p class="text-white text-justify">Quando se trata de caixões, o aço inox é o rei da durabilidade e resistência à corrosão! Ele é tão resistente que poderia sobreviver a um apocalipse zumbi sem arranhões. Além disso, pode ser facilmente limpo e esterilizado, o que é uma grande vantagem se você quiser manter o seu ente querido bem preservado por muitos anos.<br>
                    O preço do plano que suporta uma urna dessas é um pouco mais salgado, mas acredite, vale cada centavo! Porém se você é do tipo que se preocupa com a pegada ecológica, talvez deva procurar outras opções. O caixão de aço inox não é biodegradável, então você pode acabar prejudicando o meio ambiente. </p>
                    <ul class="text-white">
                        <li>Incluso no plano Podridão</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <img src="static/img/caixaoinox.png" class="img-fluid rounded-3 pb-5" style="width: 900px; height: 550px;">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}