{% extends "basepnc.html" %}

{% block conteudo %}

<div class="text-center">
    <h1 class="text-white py-4"> Urna biodegradável </h1>
</div>

<div class="container">
    <div class="text-left">
            <div class="row">
                <div class="col-md-6">
                    <p class="text-white text-justify">Você sabia que existem caixões biodegradáveis feitos de materiais como papelão, bambu e salgueiro? É verdade! Eles são uma opção mais ecológica e cessível do que os caixões tradicionais, além de serem personalizáveis para atender às preferências do falecido. <br>
                    A única desvantagem é que eles podem não ser tão resistentes quanto os caixões de madeira ou metal. Então, se você estiver planejando uma viagem longa ou um armazenamento prolongado, é melhor investir em um caixão mais resistente.</p>
                    <ul class="text-white">
                        <li>Incluso no plano Ossada</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <img src="static/img/caixaobiodegradavel.png" class="img-fluid rounded-3 pb-5" style="width: 900px; height: 550px;">
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}