{% extends "basepnc.html" %}

{% block conteudo %}

<div class="text-center">
    <h1 class="text-white py-4"> Urna de pedra </h1>
</div>

<div class="container">
    <div class="text-left">
            <div class="row">
                <div class="col-md-6">
                    <p class="text-white text-justify">Com sua durabilidade e resistência, ele é perfeito para garantir a segurança e proteção do falecido. E ainda por cima, o caixão de mármore traz aquele ar de sofisticação e elegância, fazendo o defunto parecer um verdadeiro rei.<br>
                    A extração e uso de materiais como o mármore podem impactar negativamente o meio ambiente. Mas quem se importa com isso quando se pode ostentar um caixão chique, né?
                </p>
                    <ul class="text-white">
                        <li>Incluso no plano Carniça</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <img src="static/img/caixaopedra.png" class="img-fluid rounded-3 pb-5" style="width: 900px; height: 550px;">
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}