{% extends "basepnc.html" %}

{% block conteudo %}

<div class="text-center">
    <h1 class="text-white py-4"> Urna de bronze </h1>
</div>

<div class="container">
    <div class="text-left">
            <div class="row">
                <div class="col-md-6">
                    <p class="text-white text-justify">E aí, meu chapa! Você tá procurando uma opção de caixão que vai fazer seu ente querido durar mais que um sabonete nos últimos suspiros? Então cola comigo que eu te falo do caixão de bronze! <br>
                    Além de resistir mais que gato em casa de vó, o caixão de bronze é super estiloso e pode até deixar o defunto mais bonito que em vida. Mas não é só flores não, parceiro. Essa opção é mais cara que sushi em restaurante cinco estrelas, o que pode deixar o seu bolso mais vazio que deserto de Mojave. E se você tiver que carregar essa "maravilha" de bronze, pode esquecer de pedir ajuda para aquele amigo magrinho, porque isso é mais pesado que saco de cimento! <br>
                    Outra coisa que você precisa ficar ligado é que o bronze pode oxidar que nem ferro velho no tempo, o que pode deixar o caixão mais feio que briga de foice no escuro. Então, se você quer que o seu ente querido tenha uma urna resistente e estilosa.
                    </p>
                    <ul class="text-white">
                        <li>Incluso no plano Podridão</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <img src="static/img/caixaobronze.png" class="img-fluid rounded-3 pb-5" style="width: 900px; height: 550px;">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}