{% extends "basepnc.html" %}

{% block conteudo %}

<div class="text-center">
    <h1 class="text-white py-4"> Urna de madeira </h1>
</div>

<div class="container">
    <div class="text-left">
            <div class="row">
                <div class="col-md-6">
                    <p class="text-white text-justify">E aí, você quer gastar uma fortuna com um caixão de mármore ou aço só pra deixar seu corpo em um material que não é nem um pouco sustentável? Por que não optar por uma opção mais em conta e eco-friendly? Os caixões de madeira são uma escolha inteligente e estilosa. <br>
                    Eles são feitos de um material renovável e biodegradável, além de terem um valor estético que agrada muitas culturas e indivíduos. Mas olha, se você quer um acabamento chique, pode acabar pagando um pouco mais caro. Mas ainda assim, é uma escolha mais econômica em relação aos outros materiais. <br>
                    E não se preocupe com a durabilidade, desde que a urna seja tratada adequadamente, ela pode durar bastante tempo.
                </p>
                    <ul class="text-white">
                        <li>Incluso no plano Ossada</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <img src="static/img/caixaomadeira.png" class="img-fluid rounded-3 pb-5" style="width: 900px; height: 550px;">
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}