{% extends "basepnc.html" %}

{% block conteudo %}

<div class="text-center">
    <h1 class="text-white py-4"> Urnas </h1>
</div>

<div class="album pb-5 marrom2">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm rounded-3 h-100" style="flex-direction: column;">
            <img src="/static/img/biodegradavel.png" class="card-img-top" width="50%" height="50%">
            <rect width="100%" height="100%" fill="#55595c"></rect>
            <div class="card-body marrom text-white">
              <p class="card-text">Urna biodegradável. Eles são uma opção mais ecológica e acessível do que os caixões tradicionais, além de serem personalizáveis para atender às preferências do falecido.
              </p>
              <div class="d-flex justify-content-between align-items-center position-absolute bottom-0">
                <div class="btn-group mb-3">
                  <a href="/urnabio">
                  <button  type="button" class="btn btn-sm btn-success">Ver mais</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm rounded-3 h-100" style="flex-direction: column;">
            <img src="/static/img/madeira.png" class="card-img-top" width="50%" height="50%">
            <rect width="100%" height="100%" fill="#55595c"></rect>
            <div class="card-body marrom text-white">
              <p class="card-text">Urna de madeira. Por que não optar por uma opção mais em conta e eco-friendly? Os caixões de madeira são uma escolha inteligente e estilosa.</p>
              <div class="d-flex justify-content-between align-items-center position-absolute bottom-0">
                <div class="btn-group mb-3">
                  <a href="/urnamadeira">
                  <button type="button" class="btn btn-sm btn-success">Ver mais</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm rounded-3 h-100" style="flex-direction: column;">
            <img src="/static/img/pedra.png" class="card-img-top" width="50%" height="50%">
            <rect width="100%" height="100%" fill="#55595c"></rect>
            <div class="card-body marrom text-white">
              <p class="card-text">Urna de pedra.  O caixão de mármore traz aquele ar de sofisticação e elegância, fazendo o defunto parecer um verdadeiro rei.</p>
              <div class="d-flex justify-content-between align-items-center position-absolute bottom-0">
                <div class="btn-group mb-3">
                  <a href="/urnapedra">
                  <button type="button" class="btn btn-sm btn-success">Ver mais</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm rounded-3 h-100" style="flex-direction: column;">
            <img src="/static/img/inox.png" class="card-img-top" width="50%" height="50%">
            <rect width="100%" height="100%" fill="#55595c"></rect>
            <div class="card-body marrom text-white">
              <p class="card-text">Urna de aço inox. O aço inox é o rei da durabilidade e resistência à corrosão! Ele é tão resistente que poderia sobreviver a um apocalipse zumbi sem arranhões.</p>
              <div class="d-flex justify-content-between align-items-center position-absolute bottom-0">
                <div class="btn-group mb-3">
                  <a href="/urnainox">
                  <button type="button" class="btn btn-sm btn-success">Ver mais</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm rounded-3 h-100">
            <img src="/static/img/bronze.png" class="card-img-top" width="50%" height="50%">
            <rect width="100%" height="100%" fill="#55595c"></rect>
            <div class="card-body marrom text-white">
              <p class="card-text">Urna de bronze. Você tá procurando uma opção de caixão que vai fazer seu ente querido durar mais que um sabonete nos últimos suspiros? Então cola comigo que eu te falo do caixão de bronze!</p>
              <div class="d-flex justify-content-between align-items-center position-absolute bottom-0">
                <div class="btn-group mb-3">
                  <a href="/urnabronze">
                  <button type="button" class="btn btn-sm btn-success">Ver mais</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

{% endblock %}